body {
    text-align: center;
    background-color: rgb(216, 216, 216)
}
header {
    margin: 2em;
}
.option {
    border-radius: 50%;
    border: solid 3px rgb(190, 91, 91) ;
    background-color: rgb(216, 126, 126);
    margin: 1em;
}

.img {
    height: 80px;
    width: 80px;
}
#box {
    background-color: rgb(110, 110, 110);
    padding: 2em;
    border-radius: 10px;
    margin: 2em;
}