body {
    text-align: center;
    background-color: rgb(194, 214, 224)
}
header {
    margin: 2em;
}
.option {
    border-radius: 50%;
    background-color: rgb(216, 126, 126);
    box-shadow: 0 4px 5px 0 #050505a4;
    margin: 1em;
    border: none;
}

.player {
    background-color: rgb(60, 108, 180);
}
.comp {
    background-color: rgb(187, 36, 36);
}
.img {
    height: 80px;
    width: 80px;
}
.img1 {
    height: 120px;
    width: 120px;
}
.reload {
    height: 4em;
    display:inline-block;
    margin-left: 0;

}
.title {
    margin-top: 0;
    margin-bottom: 3em;
    font-family: "Anta", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2rem;
}
#box {
    padding: 4em;
    border-radius: 10px;
    margin: 2em;
}
h1  { 
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
h2  {
    margin-bottom: 0;
}
h3 {
    font-family: "Anta", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2rem;
}
.parent {
    margin-top: 0rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
  }
  .reset button{
  }
  button {
    border: none;
    border-radius: 100%;
}
